<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shelly.mapper.CategoryMapper">

    <resultMap id="BaseResultMap" type="com.shelly.entity.pojo.Category">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
            <result property="categoryName" column="category_name" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,parent_id,category_name,
        create_time,update_time
    </sql>

    <select id="selectBackCategoryList" resultType="com.shelly.entity.vo.res.CategoryBackResp">
        SELECT c.id, c.category_name, COUNT( a.id ) AS article_count, c.parent_id, c.create_time
        FROM t_category c
        LEFT JOIN t_article a
        ON c.id = a.category_id
        <where>
            <if test="param.keyword != null and param != ''">
                category_name like concat('%',#{param.keyword},'%')
            </if>
        </where>
        GROUP BY c.id
        ORDER BY c.id DESC
    </select>
    <select id="listCategoryVO" resultType="com.shelly.entity.vo.res.CategoryResp">
        SELECT c.id,
               c.category_name,
               COUNT(a.id) AS article_count
        FROM t_category c
                 LEFT JOIN (SELECT id, category_id FROM t_article WHERE is_delete = 0 AND `status` = 1) a
                           ON c.id = a.category_id
        GROUP BY c.id
    </select>
    <select id="selectCategoryVO" resultType="com.shelly.entity.vo.res.CategoryResp">
        SELECT c.id,
               c.category_name,
               COUNT(a.id) AS article_count
        FROM t_category c
                 LEFT JOIN (SELECT id, category_id FROM t_article WHERE is_delete = 0 AND `status` = 1) a
                           ON c.id = a.category_id
        GROUP BY c.id
    </select>
</mapper>
