<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shelly.mapper.MessageMapper">

    <resultMap id="BaseResultMap" type="com.shelly.entity.pojo.Message">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="messageContent" column="message_content" jdbcType="VARCHAR"/>
            <result property="ipAddress" column="ip_address" jdbcType="VARCHAR"/>
            <result property="ipSource" column="ip_source" jdbcType="VARCHAR"/>
            <result property="isCheck" column="is_check" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,nickname,avatar,
        message_content,ip_address,ip_source,
        is_check,create_time,update_time
    </sql>
    <select id="selectMessageVOList" resultType="com.shelly.entity.vo.res.MessageResp">
        SELECT id, nickname, avatar, message_content
        from t_message
        WHERE is_check = 1
    </select>
    <select id="selectBackMessageList" resultType="com.shelly.entity.vo.res.MessageBackResp">
        SELECT
        tm.id,
        nickname,
        avatar,
        message_content,
        ip_address,
        ip_source,
        is_check,
        create_time
        FROM
        (SELECT id FROM t_message
        <where>
            <if test="param.keyword != null and param.keyword != ''">
                nickname like concat('%',#{param.keyword},'%')
            </if>
            <if test="param.isCheck != null">
                is_check = #{param.isCheck}
            </if>
        </where>
        ORDER BY id DESC LIMIT #{param.current},#{param.size}) temp
        LEFT JOIN t_message tm ON temp.id = tm.id
    </select>
</mapper>
